*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --dark-color: #373f51;
  --main-color: #dae0f2;
  --accent-color: #e6dc5d;
  --emph-color: #ff934f;
  --emph2-color: #dbeab9;

  --width-prim: 80vw;
  --width-seco: 60vw;
  --width-tetr: 40vw;
}

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--main-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
