section {
  max-width: 80%;
  margin: auto;
}

.about-me {
  margin-top: 20px;
}

p {
  width: 90%;
  /* text-align: center; */
  margin: auto;
}

figure {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

img {
  max-width: 50%;
  max-height: 600px;
  margin: 0 auto;
}

.list-content {
  background-color: rgba(173, 216, 230, 25%);
  max-width: 50%;
  margin: 0 auto;
  list-style-position: inside;
}

.list-content li {
  list-style-type: disc;
  margin: 5px 0;
}
